*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:60%;
    margin: 50px;

}
.blue{
    background-color: rgba(64, 244, 253, 0.728);
    padding: 10px 20px;
    border: 2px solid black;
}
.red{
    background-color: rgba(254, 109, 109, 0.826);
    padding: 10px 20px;
    border: 2px solid black;
}
.green{
    background-color: rgba(65, 255, 65, 0.888);
    padding: 10px 20px;
    border: 2px solid black;
}
button{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border:1px solid black;
    border-radius: 5px;
}
input{
    outline: none;
    width: 300px;
    height: 35px;
    border:1px solid black;
    border-radius: 5px;
    padding: 0 10px;
}
hr{
border: 1px solid black
}